<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UltiTV-api</title>
</head>
<body>

    <p>Hier is niks te vinden, probeer een van de volgende links:</p> 

    <a href="/players">Alle spelers</a>
    <a href="/teams">Alle teams</a>
    <a href="/questions">Alle questions</a>
    
</body>
</html>